[project]
	description = Simple JEE project, which implements the basic functionality Ticket
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/qualitat1ve
[access "refs/for/refs/*"]
	read = group user/qualitat1ve
	push = group user/qualitat1ve
	label-Code-Review = -2..+2 group user/qualitat1ve
	label-Verified = -1..+1 group user/qualitat1ve
	rebase = group user/qualitat1ve
	removeReviewer = group user/qualitat1ve
	submit = group user/qualitat1ve
[access "refs/heads/*"]
	read = group user/qualitat1ve
	create = group user/qualitat1ve
	push = +force group user/qualitat1ve
	pushMerge = group user/qualitat1ve
[access "refs/tags/*"]
	push = +force group user/qualitat1ve
	pushTag = group user/qualitat1ve
	pushSignedTag = group user/qualitat1ve
