body {
    font: 14px/18px Consolas;
    height: 100%;
}

#header {
    height: 100px;
    background: #ffffff;
    border: 3px solid #cdcdcd;
}

#content {
    height: 660px;
    background: #ffffff;
    border: 3px solid #cdcdcd;
}

#footer {
    height: 80px;
    background: #ffffff;
    border: 3px solid #cdcdcd;
}